  /*My Layout styles*/
  
  .noMargin {
      margin: 0;
  }
  
  a,
  h2 {
      color: #000;
      font-family: Snell Roundhand , cursive;
      font-size: 1.5em;
  }
  
  a:hover,
  a:focus {
      text-decoration: none;
      color: black;
  }
  
  .bigger {
      font-size: 2em;
  }
